<h1>eBird - Caso de estudo Angular Signals</h1>

<blockquote>
    <p>&#8505;</p>
    <h4>Requisitos:</h4>
    <ul>
        <li>Utilizar Signal em requisições HTTP para obter a vantagem quanto a detecção de mudanças no template.</li>
        <li>Achar a maneira mais elegante e eficiente de utilizar o Signal para requisições HTTP.</li>
        <li>Simular uma situação real cotidiana no trabalho, com <kbd>Lazy Loading</kbd>, requisições HTTP e afins.</li>
    </ul>

    <h4>Conclusão do autor:</h4>
    <p>
        Na situação simulada nesse projeto, o <strong>Test 01 é melhor</strong> pois o parâmetro <kbd>region</kbd>
        precisa ser usado no componente reativamente (sendo signal) e o <kbd>EBirdTest01Service</kbd> já o armazena pois
        também precisa deste signal para usar como parâmetro para requisição. Além de que para o workaround feito no
        <kbd>EBirdTest02Service</kbd> precisou-se armazenar a região do mesmo jeito (porém sem ser signal), visto que sem
        este workaround requisições iguais poderiam ser feitas.
    </p>
</blockquote>

<ul>
    <li><a routerLink="test01">Navigate to test01</a></li>
    <li><a routerLink="test02">Navigate to test02</a></li>
</ul>

<router-outlet></router-outlet>
